{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;color:rgb(241, 33, 50);background-color:rgb(197, 248, 231) ;border-radius: 30px;">Search Reviews for a Product</h1>

    <div class="form">
        <form action="/review" method="POST">
            <input type="text" name="content" id="content" style="height: 30px;width: 300px;margin-left: 30px;border-color: rgb(184, 59, 59);"><br><br>
            <input type="submit" value="Search" style="background-color: cyan;padding: 10px;border-radius: 5px;margin-left: 140px;">
        </form>
    </div>
</div>
{% endblock %}